<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>{{>header}}</h1>
    <img class="portrait" src="/img/robot.png">
    <h1>{{>footer}}</h1>
</body>

</html>