<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <h1>{{>header}}</h1>
        <h1>{{title}}</h1>
        <p>
            {{message}} <a href = "{{email}}">Send Email</a></p>
        <h1>{{>footer}}</h1>
    </body>
</html>